.s-1 {
    width: 100%;
    height: auto;

    .img-bg {
        // background-image: url(../img/im.jpg);
        background-image: url(../img/img1.jpg);
        height: 100vh;
        width: 100%;
        background-attachment: fixed;
        background-blend-mode: darken;
        background-color: rgba(24, 24, 24, 0.8);
        background-size: cover;
    }

    .parent-bg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        text-transform: uppercase;
        gap: 3rem;

        h1 {
            font-size: 31px;
        }

        p {
            text-align: center;
            width: 50%;
            display: flex;
            transform: translate(50%, -50%);
            color: #9d9184;
            font-size: 16px;
        }

        .btn-bg {
            background-color: $red-btn;
            width: 14%;
            height: 8%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 3%;
            transform: translate(0%, -100%);


            a {
                text-decoration: none;
                font-size: 17px;
                color: #e3e3e3;


            }
        }

    }
}

// mode phone
@media (min-width:375px) and (max-width:426px) {
    .s-1 {
        width: 100%;
        height: auto;

        .img-bg {
            // background-image: url(../img/im.jpg);
            background-image: url(../img/img1.jpg);
            height: 100vh;
            width: 100%;
            background-attachment: fixed;
            background-blend-mode: darken;
            background-color: rgba(24, 24, 24, 0.8);
            background-size: cover;
        }

        .parent-bg {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            text-transform: uppercase;
            gap: 3rem;

            h1 {
                font-size: 26px;
            }

            p {
                text-align: center;
                width: 50%;
                display: flex;
                transform: translate(50%, -50%);
                color: #9d9184;
                font-size: 13px;
            }

            .btn-bg {
                background-color: $red-btn;
                width: 30%;
                height: 8%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3%;


                a {
                    text-decoration: none;
                    font-size: 13px;
                    color: #e3e3e3;


                }
            }

        }
    }

}


@media (min-width:2560px) {

    .s-1 {
        width: 100%;
        height: auto;

        .img-bg {
            // background-image: url(../img/im.jpg);
            background-image: url(../img/img1.jpg);
            height: 100vh;
            width: 100%;
            background-attachment: fixed;
            background-blend-mode: darken;
            background-color: rgba(24, 24, 24, 0.8);
            background-size: cover;
        }

        .parent-bg {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            text-transform: uppercase;

            h1 {
                font-size: 130px;
                padding-bottom: 60px;

            }

            p {
                text-align: center;
                width: 50%;
                display: flex;
                transform: translate(50%, -50%);
                color: #9d9184;
                font-size: 46px;

            }

            .btn-bg {
                background-color: $red-btn;
                width: 14%;
                height: 8%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5%;
                transform: translate(-1%, -50%);

                a {
                    text-decoration: none;
                    font-size: 40px;
                    color: #e3e3e3;

                }
            }

        }
    }


}






// section 2
.s-2 {
    max-width: 100vw;
    height: 40vh;
    padding-top: 40px;

    .d-flex2 {
        max-width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;


        .titre-s2 {
            display: flex;
            justify-content: center;
            gap: 40px;
            flex-direction: column;
            text-transform: uppercase;
            padding-bottom: 35px;


            .h1-s2 {
                color: #494949;
                font-size: 28px;
                display: flex;
                align-items: flex-start;
            }

            .h3-s2 {
                color: #afabb0;
                font-weight: 100;
                font-size: 17px;
            }
        }

        .paragraphe-s2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 40%;
            gap: 40px;
            color: #494949;
        }


    }
}

@media (min-width:375px) and (max-width:426px) {
    .s-2 {
        max-width: 100vw;
        height: auto;
        padding-top: 40px;

        .d-flex2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            .titre-s2 {
                display: flex;
                justify-content: center;
                gap: 20px;
                flex-direction: column;
                text-transform: uppercase;


                .h1-s2 {
                    color: #494949;
                    font-size: 28px;
                    display: flex;
                    text-align: center;
                }

                .h3-s2 {
                    color: #afabb0;
                    font-weight: 100;
                    font-size: 17px;
                    text-align: center;

                }
            }

            .paragraphe-s2 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 95%;
                gap: 20px;
                color: #494949;
                font-size: 16px;

                .p-s2 {
                    text-align: center;
                }

            }


        }
    }

}

// section 2 4K
@media (min-width:2560px) {
    .s-2 {
        max-width: 100vw;
        height: 40vh;
        padding-top: 50px;

        .d-flex2 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 120px;


            .titre-s2 {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-transform: uppercase;
                padding-bottom: 300px;

                .h1-s2 {
                    color: #494949;
                    font-size: 80px;
                    display: flex;
                    align-items: flex-start;
                }

                .h3-s2 {
                    color: #afabb0;
                    font-weight: 100;
                    font-size: 50px;
                }
            }

            .paragraphe-s2 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 90px;
                width: 50%;
                color: #494949;
                font-size: 48px;
            }


        }
    }

}



// section 3
.s-3 {
    width: 100%;
    height: 100%;
    border-radius: 12%;

    .container {
        background-color: #f6f6f6;
        padding-bottom: 40px;

        padding-top: 80px;

        .paragraphe-s3 {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 50px;
            gap: 30px;

            .h1-s3 {
                color: #484848;
                font-size: 30px;
            }

            .h4-s3 {
                color: #afabb0;
                font-size: 18px;
                font-weight: 100;
            }
        }

        .d-flex3 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .carte {
                width: 350px;
                height: 290px;
                border-bottom: 1px solid #f2f2f2;
                padding-bottom: 50px;

                img {

                    border-top-right-radius: 4%;
                    border-top-left-radius: 4%;
                }

                .titre-s3 {
                    background-color: white;
                    width: 350px;
                    height: 50px;
                    color: #484848;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-left: 2px solid #f2f2f2;
                    border-right: 2px solid #f2f2f2;
                    border-bottom: 2px solid #f2f2f2;
                }
            }
        }

        .d-flexbtn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;

            .btn-red {
                width: 190px;
                height: 45px;
                background-color: $red-btn;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            .btn-noir {
                width: 190px;
                height: 45px;
                background-color: #323037;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }

    }


}


// section 3 4K

@media (min-width:2560px) {

    .s-3 {
        width: 100%;
        height: 70vh;
        border-radius: 12%;

        .container {
            width: 100%;
            height: 100%;
            background-color: #f6f6f6;
            // padding-bottom: 80px;

            // padding-top:80px;

            .paragraphe-s3 {
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .h1-s3 {
                    color: #484848;
                    font-size: 80px;
                }

                .h4-s3 {
                    color: #afabb0;
                    font-size: 48px;
                    font-weight: 100;
                }
            }

            .d-flex3 {
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 70px;

                .carte {
                    width: 800px;
                    height: 480px;
                    border-bottom: 1px solid #f2f2f2;
                    padding-top: 0px;

                    img {

                        width: 800px;
                        height: 480px;
                        border-top-right-radius: 4%;
                        border-top-left-radius: 4%;
                    }

                    .titre-s3 {
                        background-color: white;
                        width: 800px;
                        height: 150px;
                        color: #484848;
                        font-size: 40px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-left: 2px solid #f2f2f2;
                        border-right: 2px solid #f2f2f2;
                        border-bottom: 2px solid #f2f2f2;
                    }
                }
            }

            .d-flexbtn {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 35px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;

                .btn-red {
                    width: 300px;
                    height: auto;
                    background-color: $red-btn;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 40px;
                    font-size: 30px;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }

                .btn-noir {
                    width: 300px;
                    height: auto;
                    background-color: #323037;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 40px;


                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 30px;

                    }
                }
            }

        }


    }

}

@media (min-width:375px) and (max-width:426px)

{
    .s-3 {
        width: 100%;
        height: 100%;
        border-radius: 12%;
    
        .container {
            background-color: #f6f6f6;
            padding-bottom: 40px;
    
            padding-top: 80px;
    
            .paragraphe-s3 {
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-bottom: 50px;
                gap: 30px;
    
                .h1-s3 {
                    color: #484848;
                    font-size: 24px;
                    text-align: center;
                }
    
                .h4-s3 {
                    color: #afabb0;
                    font-size: 18px;
                    font-weight: 100;
                    text-align: center;
                }
            }
    
            .d-flex3 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                flex-direction: column;
    
                .carte {
                    width: 350px;
                    height: 290px;
                    border-bottom: 1px solid #f2f2f2;
    
                    img {
    
                        border-top-right-radius: 4%;
                        border-top-left-radius: 4%;
                    }
    
                    .titre-s3 {
                        background-color: white;
                        width: 350px;
                        height: 50px;
                        color: #484848;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-left: 2px solid #f2f2f2;
                        border-right: 2px solid #f2f2f2;
                        border-bottom: 2px solid #f2f2f2;
                    }
                }
            }
    
            .d-flexbtn {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 25px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
    
                .btn-red {
                    width: 190px;
                    height: 45px;
                    background-color: $red-btn;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
    
                .btn-noir {
                    width: 190px;
                    height: 45px;
                    background-color: #323037;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
    
        }
    
    
    }
    

}







.cyrcle-section {
    width: 100%;
    height: auto;
    .heading-cyrcle {
      margin-top: 20px;
      p {
        padding-top: 20px;
        opacity: 0.5;
      }
    }
    .container {
      height: 100%;
      .main-cyrcls {
          margin-top: 20px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 20px;
  
        .cyrcle-div {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          .cycle-info {
            h1 {
              font-size: 16px;
            }
            p {
              padding-top: 10px;
              padding-bottom: 10px;
              font-family: pop-el;
            }
            span {
              font-family: pop-el;
            }
          }
          .cycle-info:first-child {
            text-align: right;
          }
  
          .img-info {
            width: 90%;
            height: 90%;
            img {
              border: 10px solid $section-color;
              border-radius: 50%;
              width: 90%;
              height: 90%;
              object-fit: cover;
              object-position: center;
              inset: 0;
            }
          }
        }
      }
    }
  }


// media telephone
@media (max-width: 768px) {
    .cyrcle-section {
      width: 100%;
      height: auto;
      .heading-cyrcle {
        text-align: center;
      }
      .container {
        height: 100%;
        .main-cyrcls {
          flex-direction: column;
          padding: 0;

          .cyrcle-div {
            border: 1px solid #0000001c;
            flex-direction: column;
            padding: 10px;
            .cycle-info {
              text-align: center;
            }
            .cycle-info:first-child {
              text-align: center;
            }

            .img-info {
                width: 80%;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  border: 10px solid $section-color;
                  border-radius: 50%;
                  width: 50%;
                  height: 50%;
                  object-fit: cover;
                  object-position: center;
                  inset: 0;
                 
                }
              }
          }
          .div-one {
            flex-direction: column-reverse;
          }
          
        }
      }
    }
  }


//   media 4K
@media (min-width: 2560px) {
  
    // media query  cyrcle section 4k
    .cyrcle-section {
      margin-top: 70px;
      .heading-cyrcle {
        h1 {
          font-size: 60px;
        }
        p {
          font-size: 40px;
        }
      }
      .container {
        .main-cyrcls {
          .cyrcle-div {
            .cycle-info {
              h1 {
                font-size: 40px;
              }
              p {
                font-size: 40px;
              }
              span {
                font-size: 25px;
                font-family: pop-el;
              }
            }
          }
        }
      }
    }
   
  }

//   last section

.bg-section{
    margin-top: 40px;
    padding: 20px;
    max-width: 100%;
    height: 300px;
    background-image: url(../img/img1.jpg);
    background-color: rgba(31, 31, 31, 0.6);
    background-blend-mode: hue;
    background-size: cover;
    background-position: center;
    .main-text {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .container {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          color: white;
          font-size: 30px;
        }
        p {
          line-height: 40px;
          font-family: pop-el;
          color: white;
          font-size: 20px;
        }
        a {
          margin-top: 20px;
          color: white;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: $red-btn;
          text-decoration: none;
        }
      }
    }
  }
//   4K

@media (min-width:2560px)

{
    .bg-section {
        
        height: 800px;
      
        .main-text {
           
          .container {
            h1 {
              font-size: 70px;
              padding-top: 40px;

            }
            p {
         
              font-size: 40px;
              padding-top: 40px;

            }
            a {
              font-size: 35px;
            }
          }
        }
      }
}

